/* Color #F0D84E */
.bg-color-1 {
    background-color: #F0D84E;
  }
  
  .text-color-1 {
    color: #F0D84E;
  }
  
  /* Color #0AB6B7 */
  .bg-color-2 {
    background-color: #0AB6B7;
  }
  
  .text-color-2 {
    color: #0AB6B7;
  }
  
  /* Color #833E45 */
  .bg-color-3 {
    background-color: #833E45;
  }
  
  .text-color-3 {
    color: #833E45;
  }
  
  /* Color #03C5BD */
  .bg-color-4 {
    background-color: #03C5BD;
  }
  
  .text-color-4 {
    color: #03C5BD;
  }
  
  /* Color #614175 */
  .bg-color-5 {
    background-color: #614175;
  }
  
  .text-color-5 {
    color: #614175;
  }
  
  /* Color #1D0405 */
  .bg-color-6 {
    background-color: #1D0405;
  }
  
  .text-color-6 {
    color: #1D0405;
  }
  